@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html, body {
    height: 100%;
    margin: 0;
    color: white;
    background-color: brown;
    overflow: hidden;
}

ul {
    padding-left: 50px;
}

li {
    list-style: none;
    float: left;
    padding: 35px 20px;
}

.dull {
    color: #ADADAD;
}
  
.header {    
    height: 90px;
}
  
.header-logo {
    float: left;
    padding: 5px 40px;
    margin-right: 450px;
}

input[type=text] {
    float: right;
    border: 1px solid white;
    margin-top: 33px;
    margin-right: 180px;
    font-size: 15px;
    border-radius: 15px;
}

.body1 {
    display: block;
}

.flex-container {
    display: flex;
    border-radius: 25px;
}

.item {
    margin-top: 200px;
}

.text {
    font-family: 'Merriweather', serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    line-height: 101px;
    margin-left: 64px;
}

button {
    margin-left: 64px;
    border: none;
    border-radius: 10px;
    width: 280px;
    font-size: 24px;
    font-weight: 400;
    padding: 14px;
}

.cart {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    margin-right: 10px;
}

p {
    margin-left: 64px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    font-style: normal;
    font-family: 'Nunito', sans-serif;
}

img {
    height: 600px;
    width: 600px;    
    margin-top: 50px;
}

/* .footer {
    color: black;   
} */

.prev {
    width: 62px;
    height: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-left: 64px;
}

.next {
    display: inline;
    float: right;    
    width: 62px;
    height: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-right: 64px;
}

a {
    text-decoration: none;
    color: white;
}